
services:
  sgwu:
    image: ghcr.io/edgecomllc/eupf-dev:4fb2b5fd105fc4e33ff1cc5a581cb80dcaae334d
    profiles: [4g-core]
    privileged: true
    volumes:
      - /sys/fs/bpf:/sys/fs/bpf
      - ./dumps:/dumps
    environment:
      GIN_MODE: release
      UPF_INTERFACE_NAME: eth0
      UPF_XDP_ATTACH_MODE: generic
      UPF_API_ADDRESS: ":8081"
      UPF_METRICS_ADDRESS: ":9091"
      UPF_PFCP_ADDRESS: "localhost:8805"
      UPF_PFCP_NODE_ID: "172.20.0.100"
      UPF_SXA_ADDRESS: "sgwu:8805"
      UPF_SXA_REMOTE_NODE: sgwc
      UPF_S1U_ADDRESS: ${SGWU_IP}
      UPF_S5S8_ADDRESS: ${SGWU_IP}
      UPF_N3_ADDRESS: ${SGWU_IP}
      UPF_N9_ADDRESS: ${SGWU_IP}
      UPF_GTP_PEER: ${SRS_ENB_IP}:2152
      UPF_HUAWEI_SUPPORT: false
      UPF_LOGGING_LEVEL: debug
    entrypoint: ""
    command:
      - /bin/sh
      - -c
      - |
        ping -c 1 upf
        /app/bin/eupf
    ulimits:
      memlock: -1
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    networks:
      core-network:
        ipv4_address: ${SGWU_IP}
    expose:
      - "2152/udp"
    sysctls:
      - net.ipv4.conf.all.forwarding=1

  eupf-cli:
    profiles: [edgecom]
    build:
      context: ../../../
      dockerfile: Dockerfile.cli
    volumes:
      - ./backups:/var/lib/eupf/backups
    networks:
      core-network:

  upf:
    image: ghcr.io/edgecomllc/eupf-dev:4fb2b5fd105fc4e33ff1cc5a581cb80dcaae334d
    profiles: [4g-core, 5g-core]
    privileged: true
    volumes:
      - /sys/fs/bpf:/sys/fs/bpf
      - ./dumps:/dumps
    environment:
      GIN_MODE: release
      UPF_INTERFACE_NAME: eth0
      UPF_XDP_ATTACH_MODE: generic
      UPF_API_ADDRESS: ":8081"
      UPF_PFCP_ADDRESS: "upf:8805"
      UPF_PFCP_REMOTE_NODE: "smf"
      UPF_PFCP_NODE_ID: "eupf"
      # UPF_SXB_ADDRESS: "upf:8805"
      # UPF_SXB_REMOTE_NODE: smf
      # UPF_SXB_NODE_ID: 10.103.255.249
      UPF_METRICS_ADDRESS: ":9091"
      UPF_PA_ADDRESS: ${UPF_IP}
      UPF_N9_ADDRESS: ${UPF_IP}
      UPF_N3_ADDRESS: ${UPF_IP}
      UPF_HUAWEI_SUPPORT: false
      UPF_LOGGING_LEVEL: debug
    entrypoint: ""
    command:
      - /bin/sh
      - -c
      - |
        apk add tcpdump
        mkdir -p /etc/iproute2
        echo "1200 n6if" >> /etc/iproute2/rt_tables
        ip rule add from 10.167.71.192/26 table n6if
        ip route add default via `nslookup nat | awk '/^Address: / { print $2 }'` dev eth0 table n6if
        /app/bin/eupf
    ulimits:
      memlock: -1
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    networks:
      core-network:
        ipv4_address: ${UPF_IP}
    ports:
      - 2152:2152/udp
    sysctls:
      - net.ipv4.conf.all.forwarding=1



  nat:
    image: wbitt/network-multitool:alpine-minimal
    profiles: [4g-core, 5g-core]
    sysctls:
      - net.ipv4.conf.all.forwarding=1
    cap_add:
      - NET_ADMIN
    networks:
      core-network:
    depends_on:
      - upf
    entrypoint: ""
    command:
      - /bin/sh
      - -c
      - |
        iptables -t nat -A POSTROUTING -s 10.167.71.192/26 -o eth0 -j MASQUERADE
        iptables -A FORWARD -j ACCEPT
        ip route add 10.167.71.192/26 via `nslookup upf | awk '/^Address: / { print $2 }'` dev eth0
        tail -f /dev/null


  # smf:
  #   image: ghcr.io/edgecomllc/spgw-c:87e59f0468594ca0852bfdce3420b13ff4093ab8
  #   profiles: [4g-core, 5g-core]
  #   command: ["/app/spgw-c"]
  #   depends_on:
  #     - upf
  #   volumes:
  #     - .deploy/docker/smfcfg.yaml:/app/config/smfcfg.yaml
  #     - .deploy/docker/uerouting.yaml:/app/config/uerouting.yaml
  #   networks:
  #     core-network:
  #       ipv4_address: ${SMF_IP}
